npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
/.vscode
/dist
/.tsbuildinfo
/node_modules
.env
.env.*
database.sqlite
*.sqlite
*.sqlite3
*.db
/.docker
*.container-env
/postgres_data          


/prisma/migrations/